body {
  font-family: 'Jua', sans-serif;
}

a {
  text-decoration: none;
}

.menu-tabs,
.menu-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: white;
  text-align: center;
  padding: 0 2em;
}
.menu-tabs h1,
.menu-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.menu-tabs h3,
.menu-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.menu-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px black;
  background: #d2dae2;
  z-index: 10;
}
.menu-tabs-container--top {
  position: fixed;
  top: 0;
}

.menu-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: black;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.menu-tab:hover {
  color: white;
  background: rgba(113, 181, 240);
  transition: all 0.5s ease;
}

.menu-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: rgb(138, 138, 207);
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .menu-tabs h1,
.menu-slide h1 {
    font-size: 3rem;
  }
  .menu-tabs h3,
.menu-slide h3 {
    font-size: 1rem;
  }

  .menu-tab {
    font-size: 1rem;
  }
}




img {
  max-width: 100%;
}

.wrap {
  width: 100%;
  height: 2500px;
}

.el1 {
  display: inline-block;
  position: sticky;
  top: 300px;
  width: 300px;
  height: 100px;
  margin: 60px;
  background: white;
  font-family: 'Jua', sans-serif;
  font-size: 80px;
}

.el2{
  width: 30%;
  height: 40%;
  float: right;
  margin-left: -20vh;
  margin-top: 5%;
  padding: 4%;
}

.el3{
  width: 30%;
  height: 50%;
  float: right;
  margin-left: 5%;
  margin-top: 30%;
  padding: 4%;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  line-height: 1.5;
}

.test {
  background-color: white;
}

.test__background {
  position: absolute;
  z-index: 1;
  top: 0%;
  height: 0%;
  width: 100%;
  background: black;
}

.test__top {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.test__top h1 {
  color: black;
  font-size: 80px;
  line-height: 1.1;
  margin-bottom: 32px;
  max-width: 600px;
  z-index: 3;
  position: relative;
  font-family: 'Jua', sans-serif;
}

@media (max-width: 960px) {
  .test__top h1 {
    font-size: 32px;
    font-family: 'Jua', sans-serif;
  }
}

.test__top p {
  mix-blend-mode: difference;
  color: rgba(255, 255, 255, 0.6);
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
  z-index: 3;
  position: relative;
  font-family: 'Jua', sans-serif;
}

.test__bottom {
  height: 60vh;
}

.test__bottom img {
  object-fit: cover;
  height: 90%;
  width: 100%;
}

.about {
  background-color: white;
}

.about__item {
  display: inline-block;
  width: 800px;
  padding: 0px 20px;
 font-size: 100px;
 margin-bottom: 64px;
 font-family: 'Jua', sans-serif;
}

.about__item:nth-child(odd) img {
  margin-bottom: 64px;
}

.about__item:nth-child(even) {
  flex-direction: column-reverse;
}

.about__item img {
  object-fit: cover;
  height: 500px;
  width: 500px;
}

.scroll__section {
  position: relative;
  height: 350vh;
}

.scroll__wrapper {
  position: sticky;
  top: 10rem;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.scroll__content {
  display: flex;
  padding: 80px;
  height: 100vh;
  width: 350vh;
  will-change: transform;
}

.extra-section {
  height: 100vh;
  background-color: rgb(145, 134, 134);
}